p id="notice" = notice

h1 = @book.name

= link_to "Edit Book", edit_book_path(@book)

/ <p id="notice"><%= notice %></p>

/ <%= link_to 'Edit', edit_book_path(@book) %> |
/ <%= link_to 'Back', books_path %>
